@font-face {
    font-family: 'textFont';
    src: url('font/anicm___.ttf');
    }  

@font-face {
    font-family: 'titleFont';
    src: url('font/partybusiness.ttf');
    }  

@font-face {
    font-family: 'symbolFont';
    src: url('font/tnganb.ttf');
    }


body {
	width: 75%;
	margin: auto;
}


.navColors {
	background-color: #F2741F;
}

.navColors a {
	color: white;
	text-align: left;
	font-family: 'textFont';
}

.carousel {
	height:25vw;
}

.carousel h3 {
	font-size: 4em;
}

.carousel p {
	font-size: 2em;
}

.carousel h3, .carousel p {
	font-family: 'titleFont';
	position: relative;
	bottom: 7vw;
}

.imgCarous {
	height:25vw;
}

h1 {
	font-size: 1.2em;
	margin-bottom: 0px;
	display: none;
}

h2 {
	font-size: 1.5em;
	font-weight: bold;
}

h2 span {
	font-size: 0.75em;
	font-weight: normal;
}

.fellows {
	font-family: 'textFont';
}

.underLine {
	text-decoration: underline;
}

.symbol {
	font-family: 'symbolFont';
	color: #F2741F;
}

.pillFont {
	font-family: 'textFont';
}

.pillFont a {
	color: black;
}

#pillActiveColor {
	color: #F2741F;
	border-bottom: solid 3px #F2741F;
}

.symbolPill {
	font-family: 'titleFont';
	font-size: 1.5em;
}

/*.card {
	min-width: 100px;
}*/

.mask {
	text-align: center;
	height: 21vw;
	min-height: 300px;
}

.imgFellows {
	height: 100%;
	width: 100%;
	opacity: 0.7;
	z-index: 1;
	object-fit: cover;
}

.mask:hover .imgFellows {
	opacity: 1;
	z-index: 1;
}


.imgDeadFellows {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.dead {
	font-size: 1.8em;
	font-weight: bold;
	color: #F2741F;
}

.gimliBarre {
	color: #F2741F;
	text-decoration: line-through
}

.gimli {
;
	color: white;
}

.reward {
	position: absolute;
	top: 1%;
	left: 10%;
	border:1px solid white;
	border-radius: 5px 5px 5px 5px;	
	width: 90%;
	text-align: center;
	font-size: 1.5em;
	background-color: rgba(255,255,255,0.8);
	font-family: 'titleFont';
}

.rewardValue {
	color: #F2741F;
	font-weight: bold;
}

.mask:hover .reward {
	display: none;
}


.nameFellows {
	position: absolute;
	bottom: 50%;
	left: 35%;
	color: white;
	font-size: 2em;
	font-weight: bold;
	z-index: 2;
	font-family: 'titleFont';
}


.mask:hover .nameFellows {

	position: absolute;
	bottom: 35%;
	left: 40%;
	color: white;
	text-align: center;
	font-size: 1em;
	z-index: 2;
}

.fellowsDescription {
	padding-bottom: 0px;
}


.float {
	float: right;
	width: 20%;
}

.card {
	border: solid 4px black;
}

.cardBG {
	background-color: black;
	color: grey;
	font-size: 1.6em;
	font-family: 'titleFont';
}

hr {
	border: solid 1px black;
}

.imgProfileContainer {
	height: 5vw;
	width: 5vw;
	margin-right: 0.5vw;
}

.imgProfile {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.profile {
	text-decoration: underline;
}

.pouce {
	width: 5%;
}

.dark {
	background-color: #303030;
	color: white;
}

.light {
	background-color: #9E9E9E;
}

.playerNameCitation {
	color: grey;
}

.card-header {
	font-weight: bold;
}

.imgGol {
	/*height: 50%;*/
	width: 10%;
}

.floatLeft {
	float: left;
	width: 30%;
	padding-right: 1vw;
}